<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(プラン作成)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center flex-grow">
    <div class="w-full">
        <div id="popup"
             class="hidden sm:hidden fixed inset-0 z-50 items-center justify-center bg-black bg-opacity-50"
             onclick="closePopup()">
            <div class="relative w-4/5 h-4/5 bg-white shadow-lg rounded-md"
                 onclick="event.stopPropagation()">
                <div id="sp-map" class="w-full h-full p-4"></div>
            </div>
        </div>
        <!-- todo: th:actionを設定 -->
        <form th:action="@{/}" th:object="${createWaypointListForm}" method="post">
            <div class="flex flex-col">
                <label class="text-center flex justify-center items-center w-full" style="aspect-ratio: 5/1">
                    <th:block th:replace="~{fragment/popup :: cover-image(${editPlanForm.thumbnailPath})}"/>
                </label>
                <div class="flex">
                    <span class="sm:hidden inline-block h-12 w-12 my-auto ml-8"></span>
                    <div class="sm:border-b-2 border-b w-1/2 text-center mx-auto my-10">
                        <label>
                            <input type="text" th:field="${editPlanForm.title}" placeholder="タイトルを入力してください" class="w-full sm:text-3xl text-xl text-center border-0">
                        </label>
                    </div>
                    <button onclick="openPopup()" class="sm:hidden inline-block h-12 w-12 my-auto mr-8 cursor-pointer">
                        <th:block th:replace="~{fragment/svg :: map}"/>
                    </button>
                </div>
            </div>
            <div class="mx-10 flex">
                <section class="sm:w-1/2 w-full">
                    <!-- 日付の表示 -->
                    <div class="flex items-end space-x-0 pb-[0.625rem] border-b-2 mt-6">
                        <span th:text="${selectedDay} + '日目'" class="text-4xl"></span>
                    </div>
                    <!-- 各種地点の表示 -->
                    <div class="flex flex-col mt-6 mb-10">
                        <!-- 出発地点 -->
                        <div class="mb-6">
                            <p class="mb-2 sm:text-lg text-base">出発地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
                            <th:block th:insert="~{fragment/modal :: start}"/>
                        </div>
                        <!-- 目的地 独自クラス「addPlaces」を取得して目的地追加ボタンを追加表示する -->
                        <div class="mb-6 addPlaces">
                            <p class="mb-2 sm:text-lg text-base">目的地</p>
                            <th:block th:each="waypoint, stat : *{waypointList}">
                                <th:block th:replace="~{fragment/modal :: places}"/>
                            </th:block>
                        </div>
                        <!-- 終了地点 -->
                        <div class="mb-6">
                            <p class="mb-2 sm:text-lg text-base">終了地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
                            <th:block th:insert="~{fragment/modal :: end}"/>
                        </div>
<!--                        おすすめ目的地のセクション　一旦コメント化-->
<!--                        <section class="pt-10">-->
<!--                            <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">-->
<!--                                <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">-->
<!--                                    おすすめ目的地を追加-->
<!--                                </summary>-->
<!--                                <hr class="my-2 scale-x-150"/>-->
<!--                                &lt;!&ndash; おすすめ目的地のリストがない時 &ndash;&gt;-->
<!--&lt;!&ndash;                                 おすすめ目的地の目的地作成Formリスト 仮:${recommendList} 空の時表示 &ndash;&gt;-->
<!--&lt;!&ndash;                                <p id="recommendListDiv" class="sm:text-lg text-base text-danger my-4">&ndash;&gt;-->
<!--                                <p th:if="${#lists.isEmpty(recommendList)}" id="recommendListDiv" class="sm:text-lg text-base text-danger my-4">-->
<!--                                    先に出発地点、終了地点、目的のどれかを入力してください。-->
<!--                                </p>-->
<!--                                &lt;!&ndash; ローディングの表示をおすすめ目的地取得の時に切り替える &ndash;&gt;-->
<!--                                <div class="hidden items-center" id="loadingDiv">-->
<!--                                    <span class="mx-2 text-lg">おすすめ目的地を検索中</span>-->
<!--                                    <th:block th:replace="~{fragment/svg :: loading}"/>-->
<!--                                </div>-->
<!--                                <div id="recommendToggleDiv">-->
<!--                                    &lt;!&ndash; おすすめ目的地の 目的地作成リスト 仮:${recommendList} を使う &ndash;&gt;-->
<!--                                    <th:block th:if="${!#lists.isEmpty(recommendList)}" th:insert="~{fragment/recommend :: recommendToggle(__${recommendList}__)}"/>-->
<!--                                </div>-->
<!--                            </details>-->
<!--                        </section>-->
                        <!-- 利用する交通手段のセクション -->
                        <section class="pt-10 sm:text-lg text-base -m-4 -mt-2 p-4 flex flex-col">
                            利用する交通手段
<!--                             引数は th:object=${editWaypointListForm} のform.id -->
                            <th:block th:replace="~{fragment/svg :: three-transportation(editWayPointListForm)}"/>
                        </section>
                    </div>
                    <!-- ボタンのセクション -->
                    <section class="mb-20">
                        <div class="flex justify-center">
                            <!-- ボタンイベント editButtons.js -->
                            <button type="button" id="backButton" class="sm:mx-10 mx-5 block items-center justify-center button-secondary">保存して戻る</button>
                            <button type="submit" id="crateRouteButton" class="sm:mx-10 mx-5 block items-center justify-center button-primary">経路生成</button>
                        </div>
                    </section>
                </section>
                <!-- マップ表示のセクション -->
                <section class="sm:w-1/2 hidden sm:inline-block">
                    <div id="map" class="w-full h-full"></div>
                </section>
            </div>
        </form>
    </div>
    <!-- 以下使用するform一覧なので全部コメント化 -->
    <div>
        <form th:object="${editPlanForm}" id="editPlanForm" class="invisible">
            <input type="text" th:field="*{uuid}">
            <input type="text" th:field="*{thumbnailPath}">
            <!-- checkboxがtrueでもfalseでも送られる -->
            <input type="hidden" name="editable" value="false">
            <input type="checkbox" th:field="*{editable}">
            <input type="hidden" name="publiclyViewable" value="false">
            <input type="checkbox" th:field="*{publiclyViewable}">
        </form>
<!--    おすすめ目的のform    -->
<!--        <div id="recommendFormDiv">-->
<!--            <th:block th:if="${!#lists.isEmpty(recommendList)}" th:insert="~{fragment/recommend :: recommendForm(${recommendList})}"/>-->
<!--        </div>-->
    </div>
</main>
<th:block th:replace="~{fragment/footer :: footer}"/>
<!-- todo: 一旦scriptもコメント化 -->
<th:block th:replace="~{fragment/script :: svgThreeRadio}"/>
<th:block th:replace="~{fragment/script :: flowbite}"/>
<th:block th:replace="~{fragment/script :: map}"/>
<!-- todo: fragment/script :: modal の中でControllerから送られる ${placeNum} をJSで受け取る為コメント化 -->
<!--<th:block th:replace="~{fragment/script :: modal}"/>-->
<th:block th:replace="~{fragment/script :: previewImage}"/>
<!--<th:block th:replace="~{fragment/script :: planEdit}"/>-->
<th:block th:replace="~{fragment/script :: googleMapsAPI}"/>
</body>
</html>
