<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="start">
    <!-- Modal toggle -->
    <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-between items-center my-3"
            data-modal-target="startModal" data-modal-toggle="startModal" id="startToggle" type="button">
        <span class="text-[10px] sm:text-base absolute" id="startTimeSpan"></span>
        <span class="flex-1 text-base sm:text-xl truncate ... px-2" id="startPlaceSpan">出発地点を入力する</span>
        <span></span>
    </button>
    <!-- Main modal -->
    <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base"
         id="startModal" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        出発地点を入力する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="startModal" id="startClose" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 sm:p-5">
                    <span id="startError" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <div>
                            <label class="block mb-2" for="startPlace">出発地点<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{departurePoint.label}" class="w-full input focus:ring-0" id="startPlace" name="startPlace" type="text"/>
                        </div>
                        <input th:field="*{departurePoint.placeId}" class="hidden" id="startPlaceId" type="text"/>
                        <div class="w-2/3">
                            <label class="block mb-2" for="departureDatetime">出発日時<span class="ml-2 text-sm text-danger">必須</span></label>
                            <!-- todo: jsでminの設定 -->
                            <input th:field="*{departurePoint.departureDatetime}" class="w-full input focus:ring-0" id="departureDatetime" type="datetime-local"/>
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="button">登録</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="end">
    <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-center items-center my-3" data-modal-target="endModal" data-modal-toggle="endModal" id="endToggle" type="button">
        <span class="text-base sm:text-xl truncate ... px-2" id="endPlaceSpan">終了地点を入力する</span>
    </button>
    <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base" id="endModal" tabindex="-1">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        終了地点を入力する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="endModal" id="endClose" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 sm:p-5" id="endPlaceForm">
                    <span id="endError" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <div>
                            <label class="block mb-2" for="endPlace">終了地点<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{destinationPoint.label}" class="w-full input focus:ring-0" id="endPlace" type="text"/>
                        </div>
                        <input th:field="*{destinationPoint.placeId}" class="hidden" id="endPlaceId" name="endPlaceId" type="text"/>
                        <div class="flex justify-center">
                            <button class="button-primary" type="button">登録</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="places">
    <div class="flex items-center my-3">
        <!-- Modal toggle -->
        <button class="input border-interactive text-center text-label max-w-md w-4/5 flex justify-between items-center h-10 sm:h-12" th:data-modal-target="'placeModal' + ${stat.index}" th:data-modal-toggle="'placeModal' + ${stat.index}" th:id="'placeToggleBtn' + ${stat.index}" type="button">
            <span class="absolute block text-[10px] sm:text-base" th:id="'placeTimeSpan' + ${stat.index}">
                <th:block th:replace="~{fragment/svg :: plus}"/>
            </span>
            <span class="flex-1 text-base sm:text-xl truncate ... px-2" th:id="'placeNameSpan' + ${stat.index}">目的地を追加する</span>
            <span class="flex flex-col items-end text-[8px] sm:text-xs">
                <span class="block" th:id="'budgetSpan' + ${stat.index}"></span>
                <span class="block" th:id="'stayTimeSpan' + ${stat.index}"></span>
            </span>
        </button>
        <button class="hidden px-2" th:id="'modalDeleteBtn' + ${stat.index}">
            <th:block th:replace="~{fragment/svg :: close}"/>
        </button>
    </div>
    <div aria-hidden="true" tabindex="-1" th:id="'placeModal' + ${stat.index}"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                    <h3 class="text-xl text-black">
                        目的地を追加する
                    </h3>
                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" th:data-modal-hide="'placeModal' + ${stat.index}" th:id="'placeCloseBtn' + ${stat.index}" type="button">
                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 sm:p-5" th:id="'placeForm' + ${stat.index}">
                    <span th:id="'placeError' + ${stat.index}" class="text-danger text-sm mb-2 flex justify-center"></span>
                    <div class="space-y-4 w-full">
                        <input th:field="*{waypointList[__${stat.index}__].placeId}" class="hidden" th:id="'placeId' + ${stat.index}" type="text"/>
                        <div>
                            <label class="block mb-2" th:for="'place' + ${stat.index}">目的地<span class="ml-2 text-sm text-danger">必須</span></label>
                            <input th:field="*{waypointList[__${stat.index}__].label}" class="w-full input focus:ring-0" th:id="'place' + ${stat.index}" th:name="'place' + ${stat.index}" type="text"/>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="w-1/2 pr-3">
                                <label class="block mb-2" th:for="'budget' + ${stat.index}">予算</label>
                                <div class="flex items-end">
                                    <input th:field="*{waypointList[__${stat.index}__].budget}" class="w-full input focus:ring-0" th:id="'budget' + ${stat.index}" type="number"/>
                                    <span>円</span>
                                </div>
                            </div>
                            <div class="w-1/2 pl-3">
                                <label class="block mb-2" th:for="'stayTime' + ${stat.index}">滞在時間</label>
                                <div class="flex items-end">
                                    <input th:field="*{waypointList[__${stat.index}__].stayTime}" class="w-full input focus:ring-0" th:id="'stayTime' + ${stat.index}" type="number" min="1"/>
                                    <span>分</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="block" th:for="'preferredArrivalDatetime' + ${stat.index}">希望到着日時</label>
                            <p class="text-sm mb-2">指定した時間に到着するように経路を生成します。</p>
                            <input th:field="*{waypointList[__${stat.index}__].preferredArrivalDatetime}" class="w-full input focus:ring-0" th:id="'preferredArrivalDatetime' + ${stat.index}" type="datetime-local">
                        </div>
                        <div class="flex justify-center">
                            <button class="button-primary" type="button">追加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="placesForm(num, placeForm)">

</th:block>

</body>
</html>
