<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{fragment/head :: head(経路作成)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center flex-grow">
    <div class="w-full">
        <div id="popup"
             class="hidden sm:hidden fixed inset-0 z-50 items-center justify-center bg-black bg-opacity-50"
             onclick="closePopup()">
            <div class="relative w-4/5 h-4/5 bg-white shadow-lg rounded-md" onclick="Event.stopPropagation()">
                <div id="sp-map" class="w-full h-full p-4"></div>
            </div>
        </div>
        <div class="flex flex-col">
            <label class="text-center bg-red-50 flex justify-center items-center w-full" style="aspect-ratio: 5/1">
                <img th:src="${plan.thumbnail}" alt="サムネイル画像">
            </label>
            <div class="flex">
                <div class="flex w-full mx-4">
                    <div class="lg:w-80 sm:w-52 w-32"></div>
                    <div class="w-auto text-center mx-auto my-10">
                        <span class="font-bold w-full sm:text-3xl text-xl text-center" th:text="${plan.title}"></span>
                    </div>
                    <div class="flex items-center justify-center lg:w-80 sm:w-40 w-32 mr-10">
                        <a th:href="@{/share/__${plan.uuid}__/packings}" class="sm:mx-4 mx-2 block item s-center justify-center button-secondary lg:w-24 w-24 lg:text-base sm:text-sm text-center">持ち物</a>
                        <button type="button" class="mx-2">
                            <th:block th:replace="~{fragment/popup :: link-share}"/>
                        </button>
                        <button type="button" class="mx-2">
                            <th:block th:replace="~{fragment/popup :: delete-plan}"/>
                        </button>
                        <button onclick="openPopup()" class="sm:hidden inline-block h-12 w-12 my-auto mr-8 cursor-pointer">
                            <th:block th:replace="~{fragment/svg :: map}"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-10 flex">
            <section class="sm:w-1/2 w-full">
                <div class="flex items-end space-x-0 pb-[0.625rem] border-b-2 mt-6">
                    <div th:each="index : ${#numbers.sequence(1, plan.days)}">
                        <a th:href="@{/share/__${plan.uuid}__/plan(day=__${index}__)}"
                           th:classappend="${index == selectedDay} ? 'pt-5 pb-3 sm:px-6 lg:px-12 px-8 bg-green-600 text-white text-lg h-12' : 'pt-3 pb-3 sm:px-4 lg:px-10 px-6 bg-green-400 text-white'"
                           class="rounded-t-md text-center items-center cursor-pointer">
                            <span th:text="${index} + '日目'"></span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col mt-6 mb-10">
                    <div th:each="place, placeStatus : ${plan.placeList}" class="mb-6">
                        <div th:if="${placeStatus.first}">
                            <p class="mb-2 sm:text-lg text-base">出発地点</p>
                            <th:block th:replace="~{fragment/detail-place :: start(${place})}"/>
                        </div>
                        <div th:if="${!placeStatus.first && !placeStatus.last}">
                            <p class="mb-2 sm:text-lg text-base" th:if="${placeStatus.index == 1}">目的地</p>
                            <th:block th:replace="~{fragment/detail-place :: places(${place})}"/>
                        </div>
                        <div th:if="${placeStatus.last}">
                            <p class="mb-2 sm:text-lg text-base">終了地点</p>
                            <th:block th:replace="~{fragment/detail-place :: end(${place})}"/>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center mb-20">
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-secondary" onclick="window.location.href='/plan/list'">戻る</button>
                </div>
            </section>
            <section class="sm:w-1/2 hidden sm:inline-block">
                <div id="map" class="w-full h-[1000px]"></div>
            </section>
        </div>
    </div>
</main>
<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: flowbite}"/>
<th:block th:replace="~{fragment/script :: linkShare}"/>
<th:block th:replace="~{fragment/script :: map}"/>
<th:block th:replace="~{fragment/script :: modal}"/>
<th:block th:replace="~{fragment/script :: googleMapsAPI}"/>
</body>
</html>
